extends layout

block content
  div.bg-light.my-3.p-5
    h1.display-5 Q. 半自動IOくん とは？
    h1.display-3.mb-3 A. 追加した文字列をランダムで表示してくれるアプリケーションです。
    h5 詳細
    p.lead 追加した文字列を表示する際は被りが発生しない様になっています。
    p.lead その時点で追加されている文字列を全て表示し終わったらリセットされます。
    p.lead リセットを押しても表示したものの状態がリセットされ最初から始めれます。
    p.lead 文字列を表示してる際に新たに追加した場合は、その文字列も表示されるまでリセットが入りません。
    p.lead 全ての表示が終わったら「終了！！」と出るので、その際はページのヘッダーにあるタイトルかリセットを押してください。（タイトルを押さずに「表示」を押した場合は再スタートされます。）
    h5 ヘッダーバーの詳細
    p.lead 半自動IOくん：トップページへ
    p.lead 追加された文字列一覧へ：追加した文字列の一覧、または削除が行える
    p.lead どんなアプリケーション？：このウェブアプリケーションの使い方